extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p This is nodemailer one page application
        
    .container 
        form(method='post',action='home/send')
            h1 Mail Form 
            .form-group 
                label Name 
                input.form-control(type='text',name='name',placeholder='Enter Name')
            .form-group 
                label Email 
                input.form-control(type='email',name='email',placeholder='Enter Email')    
            .form-group 
                label Message 
                textarea.form-control(name='message',placeholder='Enter Message')
            button.btn.btn-default(type='submit') Submit